### Rules for naming the variable

In [ ]:
student_names="Sanjana","DevaRaj","Vaishnavi"

In [ ]:
Student_names

In [ ]:
### Variable names can start with A-Z,a-z,underscore
### It should not start with Number
### Space is not allowed
### Case Sensitive

In [ ]:
x=10.9
type(x)

In [ ]:
lang="Python"
type(lang)

In [ ]:
z=False
type(z)

In [ ]:
z=FALSE
type(z)

In [ ]:
x="True"
type(x)

In [ ]:
course=aiml
type(course)

### python

### Python

### Python

# Python

###  Why Python?

<font color=red>Why Python?

###Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

### Ways to run python

Immediate mode - cmd or terminal prompt using direct console(Command 'python' Enter)
Script mode - Create a file with .py extension - 'python file.py' Enter
Integrated Developement Environment (IDE) - spyder, pycharm, jupyter notebook

# Why Python?

In [ ]:
!python --version

In [ ]:
# Addition
a=4
b=5
sum=a+b
print(sum)

In [ ]:
4+5

In [ ]:
a = 5
A = 4
a+A

In [ ]:
a = 3+5+45+4+56
a

In [ ]:
a = (2+4+55+34 +4)
a

In [ ]:
898+89-56

In [ ]:
a, b, c = 23,54,"hello"
print(b,c)
type(c)

In [ ]:
a = b = c = 'test'
b

### Data Types

In [ ]:
a = "python"
type(a)

In [ ]:
b = 5.2
type(b)

In [ ]:
c=3
type(c)

In [ ]:
d=3-2j
type(d)

In [ ]:
x=False
type(x)

In [ ]:
x="True"
type(x)

In [ ]:
x="10"
type(x)

### Rules for naming the variable

##### Variable name should not start with a number but it can be in anyother place
##### Variable name does not allow spl characters other than underscore
##### Space is not allowed
##### Variable name can start with A-Z,a-z,_
##### case sensitive

In [ ]:
fruits="Apple","Orange"
f7ruits

In [ ]:
-fruititems="Apple","Orange"

In [ ]:
fruit items="Apple"

In [ ]:
_fruitslist="Apple"

In [ ]:
FRUITS="Apple"

In [ ]:
fruits="apple","mango"
Fruits

In [ ]:
a=2,b=3.4 add and store in sum
subtract and store in sub
print both outputs

In [ ]:
a=2
b=3.4
sum=a+b
sub=a-b
sub,sum,type(sum),type(sub)

In [ ]:
a=2.0
b=3.4
c=a+b
type(a),c

In [ ]:
c = 33
type(c)

In [ ]:
d = 2+3j
type(d)

In [ ]:
t="hello"
type(t)

In [ ]:
x=hello
type(x)

### Data Structures

In [ ]:
x = ("apple", "banana", "cherry")
type(x)

In [ ]:
x = ["apple", "banana", "cherry"]
type(x)

In [ ]:
x = {"name" : "John", "age" : 36}
type(x)

In [ ]:
x = {"apple", "banana", "cherry"}
type(x)

# List

1. Allows Heterogenous
2. Index start from 0
3. Mutable using index
4. []

In [ ]:
sample_list=[12,43,56,"hi",1+2j,6.7]
sample_list

In [ ]:
type(sample_list)

In [ ]:
sample_list[1]

In [ ]:
sample_list[3]

In [ ]:
sample_list[10]

In [ ]:
sample_list[5]

In [ ]:
sample_list[2]

In [ ]:
sample_list[2] = 3.5

In [ ]:
sample_list

In [ ]:
sample_list[2]=100
sample_list

In [ ]:
sample_list.reverse()
sample_list

In [ ]:
sample_list=[12,43,56,6.7]
sample_list

In [ ]:
sample_list.sort()
sample_list

In [ ]:
sample_list.append(10)

In [ ]:
sample_list

In [ ]:
sample_list.insert(1,100)

In [ ]:
sample_list

In [ ]:
sample_list.remove(56)
sample_list

In [ ]:
adi=["apple","mango","banana","cherry","pineapple"]
print("guava" in adi)

In [ ]:
adi=["apple","mango","banana"]
print("apple" in adi)

In [ ]:
### Create a list of int and float data type
### Find the number of elements in the list
### Find the maximum and minimum value
### Append a new element to the list
### Create a copy of the list
### Return index position of an object
### Insert a new element at the specified index position
### Delete an element from alist
### Reverse a list
### Sort a list
### Remove all the elements from the list

In [ ]:
list=[10,20,30,4.0,70]

In [ ]:
len(list)

In [ ]:
max(list)

In [ ]:
min(list)

In [ ]:
list.append(5)
list

In [ ]:
list1=list.copy()
list1

In [ ]:
list.index(30)

In [ ]:
list.insert(3,40)
list

In [ ]:
list.remove(10)

In [ ]:
list

In [ ]:
list.reverse()

In [ ]:
list

In [ ]:
list.sort()

In [ ]:
list

In [ ]:
list.clear()

In [ ]:
list

In [ ]:
### Create a tuple of int and float data type
### Find the number of elements in the tuple
### Find the maximum and minimum value
### Append a new element to the tuple
### Create a copy of the tuple
### Return index position of an object
### Insert a new element at the specified index position
### Delete an element from a tuple
### Reverse a tuple
### Sort a tuple
### Remove all the elements from the tuple
### Concat two tuples

In [ ]:
Days = {"Mon", "Tue", "Wed", "Thur", "Fri", "Sat", "Sun"} #Defining Set as Days
print(Days)
print("------------------------------------------------------")
print(type(Days))
print("--------------------------------------------------------")
print("looping through the set elements ... ")
for i in Days:
    print(i)

#Tuple

1. Allows Heterogenous
2. Index starts from 0 and Retrieve using index
3. Cannot change the data once declared - immutable
4. () or without brackets

In [ ]:
sample_tuple =(1,56,3.5,"hi",1+2j) 
sample_tuple

In [ ]:
type(sample_tuple)

In [ ]:
sample_tuple =1,56,3.5,"hi",1+2j
sample_tuple

In [ ]:
type(sample_tuple)

In [ ]:
sample_tuple[3]

In [ ]:
sample_tuple[7]

In [ ]:
sample_tuple.reverse()
sample_tuple

In [ ]:
sample_tuple[3]

In [ ]:
sample_tuple[3] = 13

In [ ]:
sample_tuple.append(5)

In [ ]:
sample_tuple.remove("hi")

In [ ]:
a=list(sample_tuple)
a

In [ ]:
x=(1,2,3)
y=list(x)
y

In [ ]:
y.remove(3)
y

In [ ]:
y.append(34)
y

In [ ]:
tuple=(10,20,30)
name_list=list(tuple)
name_list

In [ ]:
name_list.remove(30)

In [ ]:
name_list

#Set
"""
1. Add heterogenous
2. Does not allow duplicates
3. Cannot access using index
4. immutable using index but it's mutable
5. ordered-first place
"""

In [ ]:
sample_set ={1,123,43,23,45,67,22,21,3,66,66,0,23,43,1,"hi","fox","a","abc",252,13.5}

In [ ]:
sample_set

In [ ]:
sample_set[2] ### We cannot retrieve the elements using index in a set

In [ ]:
sample_set[2]=100

In [ ]:
sample_set.remove(43)
sample_set

In [ ]:
sample_set.add(9)
sample_set

#dictionary
"""
1. dictionary has key value pair datastructure
2. key is unique and values can be duplicated
3. Can retrieve the value using key
4. can change the value using key
5. key is immutable

In [2]:
sample_dict = {"a":"alpha",1:"first",2:"second",3:"third",1:"fourth",5:"fourth",6:"sixth"}
type(sample_dict)

dict

In [3]:
sample_dict ### Key is unique/Values can be duplicated

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fourth', 6: 'sixth'}

In [4]:
sample_dict["a"]

'alpha'

In [5]:
sample_dict[1]  ### Retrieve the value using key

'fourth'

In [7]:
sample_dict["alpha"] ### Key cannot be retrieved using value

KeyError: 'alpha'

In [8]:
sample_dict[5] = "fifth" ### mutable using key
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 6: 'sixth'}

In [9]:
sample_dict[7]="seventh" ### We can add key and values to a dictionary
sample_dict

{'a': 'alpha',
 1: 'fourth',
 2: 'second',
 3: 'third',
 5: 'fifth',
 6: 'sixth',
 7: 'seventh'}

In [10]:
sample_dict.reverse()

AttributeError: 'dict' object has no attribute 'reverse'

In [11]:
sample_dict.pop(6)
sample_dict

{'a': 'alpha', 1: 'fourth', 2: 'second', 3: 'third', 5: 'fifth', 7: 'seventh'}

In [12]:
sample_dict.pop(2)
sample_dict

{'a': 'alpha', 1: 'fourth', 3: 'third', 5: 'fifth', 7: 'seventh'}

#String
"""
1. String can be retrieved using index
2. String is immutable

"""

In [ ]:
a = "hi how are you?"

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a[1]

In [ ]:
a[10]

In [ ]:
a[3] = 'u'

In [ ]:
### Variables
x=[3,4,5]

In [ ]:
### Rules for the variables
sample_list=[1,2,3]
sample_list

In [ ]:
1sample_list=[1,2,3]  ### Variable name should not start with a number

In [ ]:
s2ample_list=[1,2,3] ### Number can be in the variable name except as the first char
s2ample_list

In [ ]:
sample@list=[1,2,3] ### Spl characters are not allowed

In [ ]:
_sample=[1,2,3] ### Underscore is only allowed spl char

In [ ]:
sample_list=[1,2,3] ### Case sensitive
Sample_list

In [ ]:
#Type Conversion
a = 23.975
type(a)

In [ ]:
a = int(a)
a

In [ ]:
a = 23
type(a)

In [ ]:
a = float(a)
a

In [ ]:
a ="10"
type(a)

In [ ]:
a = int(a)
a

In [ ]:
a = "rer"
int(a)

In [ ]:
#you can change any 
a = 345
a = str(a)
a

In [ ]:
type(int(a[0]))

In [ ]:
lst = [1,3,5,4,3,4]
type(lst)

In [ ]:
tpl = tuple(lst)

In [ ]:
lst = list(tpl)
lst

In [ ]:
set(lst)

In [ ]:
lst1 = [[1,2],[3,5],["a",["gr","ewd"]]]
lst1

In [ ]:
lst1[1][1]

In [ ]:
dict(lst1)

In [ ]:
a = list(input("Enter a number "))
a

### Indendation

In [ ]:
a = int(input("Enter your age: "))
a=34

In [ ]:
print("Your age is ",a)

### Condition Statement

In [ ]:
if a>24:
    print("you are a adult")
elif a==0:
    print("New born")
else:
    print("you are teenager")

In [ ]:
a

In [ ]:
list(range(5,10))

In [ ]:
a = [34,32,67,87,3]

In [ ]:
a

### Control Statement

In [ ]:
for i in range(0,10):
    print(a[i])

In [ ]:
len(a)

In [ ]:
for i in range(0,len(a)):
    print(a[i])

In [ ]:
for i in a:
    print(i)

In [ ]:
a

In [ ]:
for i in range(0,len(a)):
    if(i==1):
        if(a[i]>10):
            print("it is greater")

In [ ]:
for i in range(0,len(a)):
    if(a[1]>10):
            print("it is greater")

In [ ]:
stringa = input("Enter your name:")

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("E is there ")
        break

In [ ]:
for i in stringa:
    print(i)
    if i=='e':
        print("I am going to skip this control")
        continue
        print("E is there")

In [ ]:
i = 5
while i>0:
    print(i)
    i = i-1

In [ ]:
#Function
#"""""" = docstring
def test():
    """This is a test function"""
    print("Hi")

In [ ]:
test()

In [ ]:
#test?
#help(test)
test.__doc__

In [ ]:
def sum(a,b):
    print(a+b)

In [ ]:
sum(4,6)

In [ ]:
def ExampleMultipleReturn():
    return 33,54
a, b = ExampleMultipleReturn()
a

In [ ]:
b

In [ ]:
### Recursive Function

def fact(num):
    if(num==1):
        return 1
    else:
        return(num*fact(num-1))
fact(4)

In [ ]:
lst = ['Apple','orangE','BerrY','Grape']

In [ ]:
answer = []
for i in lst:
    print(i)
    print("First letter of {} is {} ".format(i,i[0]))
    firstLetter = i[0]
    print("Length of {} is {}".format(i,len(i)))
    print("Last letter of {} is {} ".format(i,i[len(i)-1]))
    lastLetter = i[len(i)-1]
    print("First letter of {} is {}".format(i,firstLetter.isupper()))
    print("Last letter of {} is {}".format(i,lastLetter.islower()))
    isFirstLetterUpper = firstLetter.isupper()
    isLastLetterLower = lastLetter.islower()
    
    if(isFirstLetterUpper and isLastLetterLower):
        answer.append(i)
print(answer)

In [ ]:
lst = [242,54,5465,65, "ste","tref"]
lst = [3,43,4,45,456,456,56,57,567,56,756,7,7]

In [ ]:
list(range(0,5,1))

In [ ]:
list(range(6,-1,-1))

In [ ]:
for i in range(0,len(lst)):
    print(lst[i])

In [ ]:
lst = [1,4,3,2,543,5435,435,435,345,34523,423]
list(range(len(lst)-1,-1,-1))

In [ ]:
newlst = []
for i in range(len(lst)-1,-1,-1):
    print(lst[i])

In [ ]:
list(range(0,10,1))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(10,-1,-3))

In [ ]:
lst

In [ ]:
lst[0:3]

In [ ]:
lst[3:7]

In [ ]:
square = lambda  x: x**2

In [ ]:
square(3)

In [ ]:
lst = [1,2,3,4,5]

In [ ]:
newList = []

for i in lst:
    newList.append(square(i))
print(newList)

In [ ]:
squareit = lambda x: x**2

list(map(lambda x: x**2,lst))

In [ ]:
a =3
list(map(lambda x: x**2,lst))

In [ ]:
def abc(x):
    return x**2

In [ ]:
list(map(abc,lst))

In [ ]:
lst = [3,2,4,5,6,7,8,2,1,2,3,3]

In [ ]:
newList = []
for i in lst:
    if (i%2==0):
       newList.append(i) 
print(newList)

In [ ]:
list(filter(lambda x : x%2==0,lst))

In [ ]:
lst

In [ ]:
if 1 in lst:
    print("1 is there")
else:
    print("not there")

In [ ]:
sum = 0
for i in lst:
    sum = sum + i
print(sum)

In [ ]:
import functools

In [ ]:
from functools import reduce

reduce(lambda x,y: x+y,lst)

In [ ]:
lst = [3233,32,44,35,3,42,543,31,13,1,2,3,23,23,23,23,32]

def greatest(x,y):
    if x>y:
        return x
    else:
        return y

In [ ]:
reduce(lambda x,y :x if x>y else y,lst)

In [ ]:
reduce(greatest,lst)

In [ ]:
n = int(input("Enter the number for factorial: "))

In [ ]:
reduce(lambda x,y: x*y, list(range(1,n+1)))

In [ ]:
list(range(1,n))

In [ ]:
lst = [1,3,2,4,5]

In [ ]:
newlist=[]
for i in lst:
    newlist.append(i**2)
print(newlist)

### list comprehension

In [ ]:
[i**2 for i in lst]

In [ ]:
[i for i in lst if i%2==0]

In [ ]:
["even" if i%2==0 else "odd" for i in lst ]

In [ ]:
lst1 = [1,2,3,6,4]
lst2 = [5,3,7,6,1]

In [ ]:
[i for i in lst1 for j in lst2 if i==j]

In [ ]:
[(i,j) for i in lst1 for j in lst2 if i!=j]

In [ ]:
a = int(input("Enter the number "))

In [ ]:
a =10
b =0
a/b
print("I have done division")

In [ ]:
try:
    a =10
    b =0
    a/b
except :
    print("Divide By Zero")
print("I have done division")

In [ ]:
try:
    a = int(input("Enter the number "))
except (ValueError) as e:
    print("Invalid input: ",e)
    print("Please enter a valid number")
except (Exception) as e:
    print("Exception")
finally:
    print("Inside finally block")

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model=LinearRegression()

In [ ]:
nums=[25,56,56,63]
nums[0]

In [ ]:
nums[5]

In [ ]:
nums[3]

In [ ]:
nums[2:]

In [ ]:
nums[-1]

In [ ]:
nums[-5]

In [ ]:
names=['shreya','siddharth','shivani']
names[0]

In [ ]:
values=[11.5,'Shreya',45]
values

In [ ]:
mix=[names,values]
mix

In [ ]:
nums.append(45)
nums.insert(2,77)
nums