## Type Conversion
### Implicit Conversion-Conversion done without Programmer's intervention
### Explicit Conversion -user fefined that forces conversion

In [4]:
### implicit
price=22.5
units=5
total=price*units
print(total)
type(total)

112.5

float

In [7]:
### explicit
income=10000
tax="123.5"
total=income+tax
print(total)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [9]:
income=10000
tax="123.5"
total=income+float(tax)
print(total)

10123.5

In [12]:
income=10000
tax="123.5"
total=income+int(tax)
print(total)

ValueError: invalid literal for int() with base 10: '123.5'

In [13]:
income=10000
tax="123"
total=income+int(tax)
print(total)

10123

## Type casting
### int()
### float()
### bool()
### str

# int to other type conversion

In [14]:
x=12
float(x)

12.0

In [15]:
bool(x)

True

In [16]:
str(x)

'12'

# float to other type conversion

In [21]:
y=12.9

In [22]:
int(y)

12

In [23]:
bool(y)

True

In [24]:
str(y)

'12.9'

# string to other type conversion

In [25]:
z="latha"

In [26]:
int(z)

ValueError: invalid literal for int() with base 10: 'latha'

In [27]:
float(z)

ValueError: could not convert string to float: 'latha'

# bool to other data types

In [28]:
bool(z)

True

In [29]:
a=True

In [31]:
float(a)

1.0

In [32]:
int(a)

1

In [33]:
str(a)

'True'

In [34]:
b=False

In [35]:
float(b)

0.0

In [36]:
int(b)

0

In [37]:
str(b)

'False'